html, body {
    height: 100%;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    margin: 0;
}

[data-template] {
    display: none;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    background-image: url("/static/img/team.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.hero {
    background-color: rgba(40, 40, 48, 0.95);
}

.title {
    margin: auto;
    letter-spacing: .05em;
    color: #d42432;
    display: table;
    text-shadow: 2px 2px 3px black;
}

.topnav {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin-right: 0.5em;
}

.topnav li a {
    color: #ffffff;
    display: inline-block;
    width: 20%;
    height: 100%;
    float: right;
    margin-left: 1em;
    background-color: rgba(60, 60, 68, 0.75);
    text-align: center;
    line-height: 2em;
    border-bottom: 2px solid white;
    transition: 0.3s;
}

.topnav li a:hover {
    background-color: rgba(100, 100, 108, 0.75);
    border-bottom: 2px solid #d42432;
}

.topnav li.icon {
    display: none;
}

.hero-separator {
    height: 0.5em;
    background-color: rgba(0, 0, 0, .6);
    filter: blur(4px);
    margin-top: -0.25em;
}

.modal {
    min-height: 300px;
    background-color: #282830;
    padding: 1.5em;
    color: #d42432;
}

.modal hr {
    border-color: #d42432;
}

.modal h3 {
    font-size: 1.5em;
}

.wrapper {
    padding-top: 2em;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 480px) {
      .title {
          font-size: 4em;
      }
      .hero {
          height: 5em;
      }
      .hero-wrapper {
          background-position: center;
      }
}

@media only screen and (max-width: 960px) {
    /* Hide widgets and show mobile substitutes */
    .widget {
        display: none;
    }
    .mobile {
        display: inherit;
    }
}

@media only screen and (min-width: 960px) {
    .wrapper {
        background-image: url('/static/img/noise-min.png');
    }

    .hero-wrapper {
        height: 60%;
    }

    .title {
        float: right;
        text-align: center;
        margin-right: 0.5em;
        font-size: 10em;
        line-height: 1em;
    }

    .hero {
        height: 12em;
        margin-left: -10%;
        width: 60%;
        transform: skewX(-10deg);
        display: inline-block;
        box-shadow: 5px 5px 2px #030303;
    }

    .topnav {
        transform: skewX(-10deg);
        width: 45%;
        margin: 1em;
        height: 2.5em;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-wrapper {
        background-position-y: 10%;
    }
}
